{% extends "core/base.html" %}
{% spaceless %}
    {% block title %}
    {% endblock %}

    {% block content %}

        {% include 'auth/form.html' with submit_value='Save' encoding='multipart/form-data'%}

    {% endblock %}

    {% block script %}
         <script>
            $(document).ready(''
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        , showSuccessMsg("{{message}}")
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        , showWarningMsg("{{message}}")
                    {% endif %}
                {% endfor %}
            {% endif %}
            );
        </script>
    {% endblock %}
{% endspaceless %}