{% extends "core/base.html" %}
{% block title %}
    <div class="block-inline"><h3 class="current-content-title">About project</h3></div>
{% endblock %}

{% block content %}

    <p> Simple analog <a href="stackoverflow.com">Stackoverflow.com</a> project based on Django framework.</p>
    <h4>Used technologies:</h4>
    <ul>
        <li>Python</li>
        <li>Django</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Twitter Bootstrap</li>
        <li>JavaScript</li>
        <li>Jquery</li>
        <li>AJAX</li>
        <li>Git</li>
    </ul>
    <h4>For deployment use:</h4>
    <ul>
        <li>Ubuntu server</li>
        <li>Nginx</li>
        <li>Gunicorn</li>
        <li>PostgreSQL</li>
        <li>Supervisor</li>
    </ul>
    <h4>In future:</h4>
    <ul>
        <li>Elasticsearch</li>
        <li>Selery</li>
        <li>RabbitMQ</li>
    </ul>

{% endblock %}