{% for answer in answers %}
    <div class="media answer-wrapper">
        <div class="media-left">
            <img class="media-object user-avatar"
                 src="
                    {% if answer.author.userprofile.image %}
                        {{ answer.author.userprofile.image.url }}
                    {% else %}
                        {{ default_avatar }}
                    {% endif %}
                        "
                 alt="...">
            <p class="text-center">{{ answer.author.userprofile }}</p>

            <div class="vote-like-wrapper">
                    <span id="a-like-{{ answer.id }}"
                          class="glyphicon a-like {% if user in answer.likes.all %}  i-like glyphicon-heart {% else %} glyphicon-triangle-top  {% endif %}"
                          href="{% url 'qa:ajax-answer-like' answer.id %}"></span>
            </div>
            <div class="vote-rating-wrapper">
                <span id="a-rating-{{ answer.id }}">{{ answer.rating }}</span>
            </div>
            <div class="vote-like-wrapper">
                    <span class="glyphicon glyphicon-triangle-bottom a-dislike"
                          href="{% url 'qa:ajax-answer-dislike' answer.id %}"></span>
            </div>

        </div>

        <div class="media-body {% if not user == question.author and answer.correct %} answer-correct  {% endif %} ">
            <p class="answer-text">{{ answer.text }}</p>
        {% if user == question.author %}
            <div class="checkbox" style="position: absolute; bottom: -10px; margin-left: 35%;margin-right: 40%">
                <label>
                    <input class="a-correct" id="a-correct-{{ answer.id }}" type="checkbox" {% if answer.correct %} checked="checked" {% endif %}
                    href="{% url 'qa:ajax-answer-correct' answer.id %}">
                    Correct!
                </label>
            </div>
        {% endif %}
        </div>
    </div>
    <hr class="detail-q-hr">
{% endfor %}
<script>
    $(document).ready(ajaxAnswerLikeDislike(), ajaxAnswerCorrect());
</script>