{% extends "base.html" %}

{% block title %}
    <div class="block-inline"><h3 class="current-content-title">{{ title }}</h3></div>
{% endblock %}


{% block content %}
    <form class="form-horizontal" action={% url 'qa:ask-question' %} method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}

            <div class="form-group">
                {{ field.errors }}
                <label class="col-md-1 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-md-11">
                    {{ field}}
                </div>
            </div>

        {% endfor %}

        <div class="form-group">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <input class="btn btn-success" type="submit" value="ASK!">
            </div>
        </div>
    </form>
{% endblock %}