<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Out of Memory Error</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>

<header>

    {% block head %}

        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-11">


                        <div class="navbar-header  hidden-xs">
                            <a class="navbar-brand" href="{% url 'qa:question-list' %}"><span
                                    class="text-larger">{ ? } Out</span>of<span
                                    class="text-larger">MemoryError</span>
                            </a>
                            <ul class="nav navbar-nav hidden-xs hidden-sm">
                                <li>
                                    <form class="navbar-form" role="search" method="get"
                                          action="{% url 'qa:question-list' %}">

                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search for...">
                                            <span class="input-group-btn">
                                                            <button class="btn btn-default" type="submit">Go!</button>
                                                          </span>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>


{#                        <div id="navbar" class="navbar-collapse " aria-expanded="true">#}
                            <ul class="nav navbar-nav navbar-right nav-user">
                                {% if user.is_authenticated %}
                                    <li class="hidden-xs"><img id="user-avatar" class="img-rounded"
                                             src="/img/avatar.jpeg"
                                             alt="...X...">
                                    </li>
                                    <li><a href="{% url 'qa:user-settings' %}">{{ user }}</a></li>
                                    <li><a href="{% url 'qa:logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a href="{% url 'qa:singup' %}">Sing up</a></li>
                                    <li><a href="{% url 'qa:login' %}">Login</a></li>

                                {% endif %}
                            </ul>
                        </div>
{#                    </div>#}
                </div>
            </div>
            <hr class="nav-hr">
        </nav>



    {% endblock %}

</header>


{% block container %}

    <div class="container main-content-container">
        <div class="row">
            <div class="col-md-11 questions">

                <div class="col-md-9">
                    <div class="content-title-wrapper">

                        {% block title %}

                        {% endblock %}

                        <div class="ask-btm">
                            <h4 class="ask-btm-header">
                                <a class="btn btn-default btn-sm" role="button" href="{% url 'qa:ask-question' %}">Ask
                                    Question </a>
                            </h4>
                        </div>

                    </div>

                    {% block content %}
                    {% endblock %}

                </div>


                <div class="col-md-3 hidden-xs hidden-sm">
                    <div class="tag-title-wrapper">
                        <h4 class="ask-btm-header">Popular tags</h4>
                    </div>

                    {% block sidebar %}

                        <div id="tagcloud">
                            <a href="{% url 'qa:questions-by-tag' 1 %}" rel="0">perl</a>
                            <a href="{% url 'qa:questions-by-tag' 1 %}" rel="13">python</a>
                            <a href="{% url 'qa:questions-by-tag' 1 %}" rel="17">django</a>
                            <a href="{% url 'qa:questions-by-tag' 1 %}" rel="4">mysql</a>
                            <a href="{% url 'qa:questions-by-tag' 1 %}" rel="5">bender</a>
                            <a href="{% url 'qa:questions-by-tag' 1 %}" rel="19">kill_all_humans</a>
                            <a href="{% url 'qa:questions-by-tag' 1 %}" rel="15">firefox</a>
                            <a href="{% url 'qa:questions-by-tag' 1 %}" rel="7">html</a>
                            <a href="{% url 'qa:questions-by-tag' 1 %}" rel="11">bootstrap</a>
                            <a href="{% url 'qa:questions-by-tag' 1 %}" rel="3">ajax</a>
                        </div>

                    {% endblock %}
                </div>

                {#                <div class="col-md-9">#}
                {##}
                {#                </div>#}


            </div>
        </div>

        {% block pagination %}
        {% endblock %}

    </div>

{% endblock %}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-11"><p><a href="{% url 'qa:my-github' %}"> Github </a> © 2017 simple is better</p></div>
        </div>
    </div>
</footer>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/jquery.tagcloud.js"></script>
<script src="/js/main.js"></script>
<script>
    $("#tagcloud a").tagcloud({
        size: {start: 12, end: 36, unit: "px"},
        color: {start: '#3498DB', end: '#46CFB0'}
    });
    $(document).ready(ajaxQuestionLikeDislike(), ajaxAnswerLikeDislike())
</script>
{% block script %}

{% endblock %}

</body>
</html>