{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{% url 'qa:login' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {%  for field in form %}
            <div class="form-group">
                {{ field.errors }}
                <label class="col-md-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-md-3">
                    {{ field }}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <input class="btn btn-success" type="submit" value="Login">
            </div>
        </div>
    </form>
{% endblock %}