{% extends "base.html" %}

{% block content %}
    <div class="detail-q-wrapper">
        <div class="detail-q-content">

            <div class="right detail-q-user">
                <p class="text-center"><img class="user-avatar"
                                                                       src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9cGgmE6g-rlUiNz9sLGl8YTt0m1yZfjTbuMWg6QQAhpm6trbF"
                                                                       alt="..."></p>
                <p class="text-center">{{ question.author }}</p>
            </div>

            <h3 class="detail-q-header"><a href="#"> {{ question.title }}</a></h3>

            <p>{{ question.text }}</p>
        </div>
        <div class="question-footer">

            <ul class="list-inline">
                <li class="vote-like-wrapper">
                    <span id="q-like-{{  question.id }}" class="glyphicon glyphicon-triangle-top q-like detail-d-like {% if user in question.likes.all %} i-like {% endif %}"
                       href="{% url 'qa:ajax-question-like' question.id %}"></span>
                </li>
                <li class="vote-rating-wrapper">
                    <span id="q-rating-{{ question.id }}">{{ question.rating }}</span>
                </li>
                <li class="vote-like-wrapper">
                    <span class="glyphicon glyphicon-triangle-bottom q-dislike"
                       href="{% url 'qa:ajax-question-dislike' question.id %}"></span>
                </li>
                <li>Tags:</li>
                {% for tag in question.tags.all %}
                    <li><a href="{% url 'qa:questions-by-tag' tag.id %}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr class="detail-q-hr">

    {% for answer in answers %}
        <div class="media answer-wrapper">
            <div class="media-left">
                <img class="media-object user-avatar"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9cGgmE6g-rlUiNz9sLGl8YTt0m1yZfjTbuMWg6QQAhpm6trbF"
                     alt="...">
                <p class="text-center">{{ answer.author }}</p>

                <div class="vote-like-wrapper">
                    <span id="a-like-{{ answer.id }}" class="glyphicon glyphicon-triangle-top a-like {% if user in answer.likes.all %} i-like {% endif %}"
                       href="{% url 'qa:ajax-answer-like' answer.id %}"></span>
                </div>
                <div class="vote-rating-wrapper">
                    <span id="a-rating-{{ answer.id }}">{{ answer.rating }}</span>
                </div>
                <div class="vote-like-wrapper">
                    <span class="glyphicon glyphicon-triangle-bottom a-dislike" href="{% url 'qa:ajax-answer-dislike' answer.id %}"></span>
                </div>

            </div>

            <div class="media-body">
                <p class="answer-text">{{ answer.text }}</p>
            </div>
        </div>
        <hr class="detail-q-hr">
    {% endfor %}

    {% if user.is_authenticated %}

        <form class="form-horizontal" action={% url 'qa:question-detail' question.id %} method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    <label class="col-md-1 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="col-md-11">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}

            <div class="form-group">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <input class="btn btn-success" type="submit" value="Answer">
                </div>
            </div>

        </form>
    {% else %}
        You must be authorized user for send answer.
        <a class="btn btn-success" role="button" href="{% url 'qa:login' %}">Login</a>
    {% endif %}

{% endblock %}
