{% extends "base.html" %}

{% block content %}
    <div style="min-height: 173px; position: relative">
        <div style="padding-bottom: 15px">

            <div class="right" style="float: right; width: 110px; height: 90px; align-content: center">
                <p class="text-center"style="margin-bottom: 0px"><img style="width: 72px; height: 72px;"
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9cGgmE6g-rlUiNz9sLGl8YTt0m1yZfjTbuMWg6QQAhpm6trbF"
                                            alt="..."></p>
                <p class="text-center" style="margin-bottom: 0px">{{ question.author }}</p>
            </div>

            <h3 style="margin-top: 0px;"><a href="" style="color:#2B2B2B ;"> {{ question.title }}</a></h3>

            <p style="text-align: justify">{{ question.text }}</p>
        </div>
        <div style="position: absolute; bottom: -12px;">

            <ul class="list-inline">
                <li style=" text-align: center; margin-bottom: -7px">
                    <a class="glyphicon glyphicon-triangle-top" style="width: 10px; margin-right: 4px" href="#"></a>
                </li>
                <li style=" text-align: center; margin-bottom: -5px">
                    <span>{{ question.rating }}</span>
                </li>
                <li style=" text-align: center; margin-bottom: -7px">
                    <a class="glyphicon glyphicon-triangle-bottom" href="#"></a>
                </li>
                <li>Tags:</li>
                <li><a href="#">python</a></li>
                <li><a href="#">django</a></li>
            </ul>
        </div>
    </div>
    <hr style="margin-bottom: 10px; margin-top: 10px">

    {% for answer in answers %}
        <div class="media" style="position:relative;">
            <div class="media-left">
                <img class="media-object" style="width: 72px; height: 72px; "
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9cGgmE6g-rlUiNz9sLGl8YTt0m1yZfjTbuMWg6QQAhpm6trbF"
                     alt="...">
                <p class="text-center" style="margin-bottom: 0px;">{{ answer.author }}</p>

                <div style=" text-align: center; margin-bottom: -7px">
                    <a class="glyphicon glyphicon-triangle-top" style="width: 10px; margin-right: 4px" href="#"></a>
                </div>
                <div style=" text-align: center; margin-bottom: -5px">
                    <span>{{ question.rating }}</span>
                </div>
                <div style=" text-align: center; margin-bottom: -7px">
                    <a class="glyphicon glyphicon-triangle-bottom" href="#"></a>
                </div>

            </div>

            <div class="media-body">
                <p style="padding-bottom: 15px; text-align: justify">{{ answer.text }}</p>
            </div>
        </div>
        <hr style="margin-bottom: 10px; margin-top: 8px">
    {% endfor %}

    <form action={% url 'qa:question-detail' question.id %} method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Submit">
    </form>

{% endblock %}
