{% extends "base.html" %}

{% block title %}
    <div style="display: inline-block"><h4>{{ title }}</h4></div>
    <div style="display: inline-block"><h4><a href="/popular"> Hot Question</a></h4></div>

{% endblock %}



{% block content %}

    {% for question in questions %}
        <div class="media" style="position:relative;">
            <div class="media-left">
                <img class="media-object" style="width: 72px; height: 72px;"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9cGgmE6g-rlUiNz9sLGl8YTt0m1yZfjTbuMWg6QQAhpm6trbF"
                     alt="...">
                <p class="text-center">{{ question.author }}</p>
            </div>

            <div class="media-body">
                <h4 class="media-heading"><a
                        href={% url 'qa:question-detail' question.id %}> {{ question.title }} </a>
                </h4>
                <p style="padding-bottom: 15px; text-align: justify">{{ question.text | truncatewords:50 }}</p>

                <div style="position: absolute; bottom: -12px;">
                    <ul class="list-inline">
                        <li><a href={% url 'qa:question-detail' question.id %}> Ansvers(4)</a></li>
                        <li>Tags:</li>
                        <li><a href="#">python</a></li>
                        <li><a href="#">django</a></li>
                    </ul>
                </div>
            </div>

            <div class="media-right"
                 style="vertical-align:middle; width: 30px; padding-left: 30px;padding-bottom: 15px;">
                <a class="glyphicon glyphicon-triangle-top" style="width: 10px" href="#"></a>
                <div style=" text-align: center">
                    <span>{{ question.rating }}</span>
                </div>
                <a class="glyphicon glyphicon-triangle-bottom" href="#"></a>
            </div>

        </div>

        <hr style="margin-top: 5px">
    {% endfor %}




{% endblock %}


{% block pagination %}

    <div class="row">
        <div class="col-md-11">
            <nav aria-label="navigation">
                <ul class="pager">
                    {% if questions.has_previous %}
                        <li>
                            <a href="?page={{ questions.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}

                    <span class="current">
                                        page {{ questions.number }} of {{ questions.paginator.num_pages }}.
                                    </span>

                    {% if questions.has_next %}
                        <li>
                            <a href="?page={{ questions.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}


{% block script %}

{% endblock %}







